Repository lexicongovernance/pluraltools-frontend, pull requests merged in 2024-03, with the labels that each got.

#271 Implement new required changes (new layout)
  packages/berlin/src/components/cycleColumns/CycleColumns.styled.tsx
  packages/berlin/src/components/iconButton/IconButton.tsx
  packages/berlin/src/components/optionCard/OptionCard.styled.tsx
  packages/berlin/src/components/optionCard/OptionCard.tsx
  packages/berlin/src/pages/Cycle.tsx
Labels: feature, berlin

#282 Fix alignment issues on vote page
  packages/berlin/src/components/cycleColumns/CycleColumns.styled.tsx
  packages/berlin/src/components/optionCard/OptionCard.styled.tsx
  packages/berlin/src/components/optionCard/OptionCard.tsx
Labels: bug, priority, berlin

#283 Add agenda button
  packages/api/src/fetchUserRegistrations.ts
  packages/api/src/types/RegistrationType.ts
  packages/berlin/src/App.tsx
  packages/berlin/src/components/header/Header.tsx
  packages/berlin/src/store/index.ts
Labels: feature

#277 Add Table component and update Event page
  packages/berlin/src/components/table/Table.styled.tsx
  packages/berlin/src/components/table/Table.tsx
  packages/berlin/src/components/table/index.ts
  packages/berlin/src/components/votingCards/VotingCards.tsx
  packages/berlin/src/pages/Event.tsx
Labels: feature

#288 Add line break to description
  packages/berlin/src/components/optionCard/OptionCard.tsx
Labels: bug

#291 Update agenda action
  packages/berlin/src/App.tsx
  packages/berlin/src/pages/Event.tsx
Labels: feature

#294 Add onboarding redirect if onboarding status is incomplete
  packages/berlin/src/App.tsx
Labels: bug

#300 299 add text to berlin registration form
  packages/berlin/src/pages/Register.tsx
Labels: feature, priority, easy, berlin

#303 Safe Area for Landing & On boarding
  packages/berlin/src/layout/Layout.styled.tsx
  packages/berlin/src/pages/Landing.tsx
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature, berlin

#304 298 selects are not working on safari
  packages/berlin/src/components/select/Select.styled.tsx
Labels: bug, priority, berlin

#305 next release
  packages/berlin/src/components/select/Select.styled.tsx
  packages/berlin/src/layout/Layout.styled.tsx
  packages/berlin/src/pages/Landing.tsx
  packages/berlin/src/pages/Onboarding.tsx
  packages/berlin/src/pages/Register.tsx
Labels: berlin

#309 Remove link to plurality lab twitter
  packages/berlin/src/components/footer/Footer.tsx
Labels: priority, berlin

#310 Update Landing.tsx
  packages/berlin/src/pages/Landing.tsx
Labels: feature, easy, berlin

#315 backmerge text and logo changes
  packages/berlin/src/components/footer/Footer.tsx
  packages/berlin/src/pages/Landing.tsx
Labels: feature

#321 317 update onboarding
  packages/berlin/src/data/onboarding.ts
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature, easy, berlin

#320 Remove table title (Open/Closed Agendas)
  packages/berlin/src/pages/Event.tsx
Labels: feature, easy, berlin

#323 Fix user status redirection bug
  packages/berlin/src/App.tsx
Labels: bug

#327 325 update holding page
  packages/berlin/src/components/link/Link.tsx
  packages/berlin/src/pages/Holding.tsx
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature, priority, berlin

#326 307 add delete comment
  package.json
  packages/api/src/deleteComment.ts
  packages/api/src/index.ts
  packages/api/src/types/CommentType.ts
  packages/berlin/src/components/commentCard/CommentCard.tsx
  packages/berlin/src/components/dialog/Dialog.styled.tsx
  packages/berlin/src/components/dialog/Dialog.tsx
  packages/berlin/src/components/dialog/index.ts
  packages/berlin/src/components/optionCard/OptionCard.tsx
  pnpm-lock.yaml
Labels: feature, berlin

#331 Update Holding.tsx
  packages/berlin/src/pages/Holding.tsx
Labels: priority, easy, berlin, hotifx

#338 move navigate inside on success
  packages/berlin/src/pages/Register.tsx
Labels: bug

#339 adds telegram to user
  packages/api/src/types/UserType.ts
  packages/api/src/updateUserData.ts
  packages/berlin/src/pages/Account.tsx
Labels: feature

#344 342 add ai image to staging
  packages/berlin/public/images/cats_dogs.webp
  packages/berlin/src/pages/Holding.tsx
Labels: feature, berlin

#347 fix telegram handle
  packages/api/src/types/UserType.ts
  packages/berlin/src/pages/Account.tsx
Labels: hotifx

#349 fix telegram handle for main
  packages/api/src/types/UserType.ts
  packages/berlin/src/pages/Account.tsx
Labels: hotifx
