Repository lexicongovernance/pluraltools-frontend, pull requests merged in 2024-02, with the labels that each got.

#88 Integrate Searchable select with account registration
  src/components/select/Select.styled.tsx
  src/components/select/Select.tsx
  src/pages/Account.tsx
Labels: enhancement

#98 Landing updates
  packages/berlin/src/components/containers/FlexColum.styled.tsx
  packages/berlin/src/components/link/Link.tsx
  packages/berlin/src/components/link/index.ts
  packages/berlin/src/components/typography/Body.styled.tsx
  packages/berlin/src/components/typography/Bold.styled.tsx
  packages/berlin/src/components/typography/Underline.styled.tsx
  packages/berlin/src/pages/Landing.tsx
Labels: enhancement, priority

#101 Berlin onboarding
  packages/berlin/src/App.tsx
  packages/berlin/src/components/dots/Dots.styled.tsx
  packages/berlin/src/components/dots/Dots.tsx
  packages/berlin/src/components/dots/index.ts
  packages/berlin/src/components/typography/Body.styled.tsx
  packages/berlin/src/components/typography/Title.styled.tsx
  packages/berlin/src/data/onboarding.ts
  packages/berlin/src/global.styled.tsx
  packages/berlin/src/pages/Onboarding.tsx
Labels: enhancement, priority

#105 registration multiple urls
  packages/berlin/vercel.json
  packages/core/src/pages/Account.tsx
  packages/core/vercel.json
  vercel.json
Labels: enhancement, core

#103 Berlin input component + initial account page
  packages/berlin/package.json
  packages/berlin/public/icons/arrow-down-dark.svg
  packages/berlin/public/icons/arrow-down-light.svg
  packages/berlin/public/icons/arrow_down.svg
  packages/berlin/public/icons/menu-dark.svg
  packages/berlin/public/icons/menu-light.svg
  packages/berlin/public/icons/toggle-dark.svg
  packages/berlin/public/icons/toggle-light.svg
  packages/berlin/public/logos/arbitrum-dark.svg
  packages/berlin/public/logos/arbitrum-light.svg
  packages/berlin/src/App.tsx
  packages/berlin/src/components/containers/FlexColum.styled.tsx
  packages/berlin/src/components/containers/FlexRow.styled.tsx
  packages/berlin/src/components/footer/Footer.styled.tsx
  packages/berlin/src/components/footer/Footer.tsx
  packages/berlin/src/components/input/Input.styled.tsx
  packages/berlin/src/components/input/Input.tsx
  packages/berlin/src/components/input/index.ts
  packages/berlin/src/components/select/Select.styled.tsx
  packages/berlin/src/components/select/Select.tsx
  packages/berlin/src/components/select/index.ts
  packages/berlin/src/components/typography/Error.styled.tsx
  packages/berlin/src/components/typography/Label.tsx
  packages/berlin/src/global.styled.tsx
  packages/berlin/src/pages/Account.tsx
  packages/berlin/src/pages/Landing.tsx
  packages/berlin/src/pages/Onboarding.tsx
Labels: enhancement, priority

#102 CORE: update user flow
  .eslintrc.cjs
  package.json
  packages/core/src/components/header/Header.tsx
  packages/core/src/components/zupassLoginButton/ZupassLoginButton.tsx
  packages/core/src/pages/Account.tsx
  pnpm-lock.yaml
Labels: enhancement, core

#109 Connect user flow to berlin
  packages/berlin/src/App.tsx
  packages/berlin/src/components/header/Header.tsx
Labels: enhancement, berlin

#115 Berlin/move role field
  packages/berlin/src/components/select/Select.styled.tsx
  packages/berlin/src/components/select/Select.tsx
  packages/berlin/src/pages/Account.tsx
Labels: feature, berlin

#133 Onboarding enhancements
  packages/berlin/src/data/onboarding.ts
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature, berlin

#137 fix registration fields response
  packages/api/src/types/RegistrationFieldType.ts
Labels: bug

#140 FIX: Second log in causes deadlock
  packages/berlin/src/App.tsx
  packages/core/src/App.tsx
Labels: bug, core, berlin

#144 Fix typo
  packages/berlin/src/components/header/Header.tsx
Labels: bug

#136 Zupass here Link at landing page
  packages/berlin/src/components/button/Button.styled.tsx
  packages/berlin/src/components/button/Button.tsx
  packages/berlin/src/components/zupassButton/ZupassLoginButton.tsx
  packages/berlin/src/pages/Landing.tsx
Labels: bug, feature, berlin

#141 Burger menu
  packages/berlin/public/icons/menu-dark.svg
  packages/berlin/public/icons/menu-light.svg
  packages/berlin/src/components/header/Header.styled.tsx
  packages/berlin/src/components/header/Header.tsx
Labels: feature, berlin

#159 Dot navigation
  packages/berlin/src/components/dots/Dots.styled.tsx
  packages/berlin/src/components/dots/Dots.tsx
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature, berlin

#164 Modify data structure and onboarding rendering
  packages/berlin/src/data/onboarding.ts
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature, berlin

#165 Update header logo
  packages/berlin/src/components/header/Header.styled.tsx
  packages/berlin/src/components/header/Header.tsx
Labels: feature, berlin

#168 fix reload
  packages/berlin/src/pages/Holding.tsx
Labels: bug, berlin

#180 Change logo.png asset
  packages/berlin/public/logos/logo.png
Labels: feature, berlin

#179 177 change subtitle
  packages/berlin/src/components/header/Header.styled.tsx
  packages/berlin/src/components/header/Header.tsx
  packages/berlin/src/data/header.ts
Labels: feature, berlin

#175 172 character count resets to 0 low priority
  packages/berlin/src/pages/Register.tsx
Labels: bug, berlin

#183 Production user flow
  packages/berlin/src/App.tsx
  packages/berlin/src/hooks/useUser.tsx
  packages/berlin/src/pages/Account.tsx
  packages/berlin/src/pages/Holding.tsx
  packages/berlin/src/pages/Onboarding.tsx
Labels: feature

#187 Update onboarding.ts
  packages/berlin/src/data/onboarding.ts
Labels: feature, berlin

#188 Update Holding.tsx
  packages/berlin/src/pages/Holding.tsx
Labels: feature, berlin

#192 Store other group affiliations
  package.json
  packages/berlin/src/main.tsx
  packages/berlin/src/pages/Account.tsx
  pnpm-lock.yaml
Labels: feature

#197 191 make logo background match darkmode background
  packages/berlin/public/logos/logo.png
Labels: feature, berlin

#202 Update Landing.tsx
  packages/berlin/src/pages/Landing.tsx
Labels: berlin

#204 Diego/replace logos
  packages/berlin/public/logos/lexicon-dark.png
  packages/berlin/public/logos/lexicon-light.png
  packages/berlin/src/components/footer/Footer.tsx
Labels: feature

#205 Diego/fix affiliation message
  packages/berlin/src/pages/Account.tsx
Labels: bug

#206 176 subtitle hotfix
  packages/berlin/src/components/header/Header.styled.tsx
Labels: feature, berlin

#207 Remove institution field
  packages/berlin/src/pages/Account.tsx
Labels: bug

#209 208 add favicon
  packages/berlin/index.html
  packages/berlin/public/favicon.ico
Labels: feature, berlin

#211 Diego/simplify account core
  packages/core/src/pages/Account.tsx
Labels: core

#198 Berlin pages
  packages/api/src/types/CycleType.ts
  packages/berlin/public/icons/arrow-back-dark.svg
  packages/berlin/public/icons/arrow-back-light.svg
  packages/berlin/public/icons/back_arrow.svg
  packages/berlin/public/icons/badge-bronze.svg
  packages/berlin/public/icons/badge-gold.svg
  packages/berlin/public/icons/badge-silver.svg
  packages/berlin/public/icons/heart-empty.svg
  packages/berlin/public/icons/heart-full.svg
  packages/berlin/src/App.tsx
  packages/berlin/src/components/backButton/BackButton.tsx
  packages/berlin/src/components/backButton/index.ts
  packages/berlin/src/components/containers/FlexRow.styled.tsx
  packages/berlin/src/components/containers/Grid.styled.tsx
  packages/berlin/src/components/cycleCard/CycleCard.styled.tsx
  packages/berlin/src/components/cycleCard/CycleCard.tsx
  packages/berlin/src/components/cycleCard/index.ts
  packages/berlin/src/components/eventCard/EventCard.styled.tsx
  packages/berlin/src/components/eventCard/EventCard.tsx
  packages/berlin/src/components/eventCard/index.ts
  packages/berlin/src/components/footer/Footer.tsx
  packages/berlin/src/components/header/Header.styled.tsx
  packages/berlin/src/components/header/Header.tsx
  packages/berlin/src/components/optionCard/OptionCard.styled.tsx
  packages/berlin/src/components/optionCard/OptionCard.tsx
  packages/berlin/src/components/optionCard/index.ts
  packages/berlin/src/components/resultCard/ResultCard.styled.tsx
  packages/berlin/src/components/resultCard/ResultCard.tsx
  packages/berlin/src/components/resultCard/index.ts
  packages/berlin/src/components/statCard/StatCard.styled.tsx
  packages/berlin/src/components/statCard/StatCard.tsx
  packages/berlin/src/components/statCard/index.ts
  packages/berlin/src/layout/Layout.tsx
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/pages/Event.tsx
  packages/berlin/src/pages/Events.tsx
  packages/berlin/src/pages/Results.tsx
Labels: feature, berlin

#229 224 replace vote/unvote with +/-
  packages/berlin/public/icons/comments-dark.svg
  packages/berlin/public/icons/comments-light.svg
  packages/berlin/public/icons/unvote-dark.svg
  packages/berlin/public/icons/unvote-light.svg
  packages/berlin/public/icons/vote-dark.svg
  packages/berlin/public/icons/vote-light.svg
  packages/berlin/src/components/button/Button.styled.tsx
  packages/berlin/src/components/iconButton/IconButton.tsx
  packages/berlin/src/components/optionCard/OptionCard.tsx
  packages/berlin/src/pages/Account.tsx
Labels: feature, priority, berlin

#231 Single line header subtite
  packages/berlin/src/components/header/Header.styled.tsx
Labels: easy, berlin

#230 223 display vote options as single column but add visible plurality score to the right
  packages/berlin/src/components/backButton/BackButton.tsx
  packages/berlin/src/components/button/Button.tsx
  packages/berlin/src/components/iconButton/IconButton.styled.tsx
  packages/berlin/src/components/iconButton/IconButton.tsx
  packages/berlin/src/components/optionCard/OptionCard.styled.tsx
  packages/berlin/src/components/optionCard/OptionCard.tsx
  packages/berlin/src/pages/Cycle.tsx
Labels: feature, priority, berlin

#232 Add ordering to berlin
  packages/berlin/src/pages/Cycle.tsx
Labels: feature

#233 Update voteCount to voteScore in CycleType
  packages/api/src/types/CycleType.ts
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/types/CycleType.ts
  packages/core/src/pages/Vote.tsx
  packages/core/src/types/CycleType.ts
Labels: bug

#235 225 create small info panel on vote page
  packages/berlin/src/pages/Cycle.tsx
Labels: feature, priority, berlin

#234 Update plural score on vote
  packages/berlin/src/pages/Cycle.tsx
Labels: feature

#245 Events redirect
  packages/api/src/types/CycleType.ts
  packages/berlin/src/App.tsx
  packages/berlin/src/pages/Event.tsx
Labels: feature

#247 Add cycle status check to only render See Results button when its CLOSED
  packages/berlin/src/pages/Cycle.tsx
Labels: feature, easy, berlin

#249 246 changes for demo on 2102
  packages/berlin/src/components/cycleCard/CycleCard.tsx
  packages/berlin/src/components/resultCard/ResultCard.tsx
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/pages/Results.tsx
Labels: priority, berlin

#253 Add linebreaks
  packages/berlin/src/components/typography/Body.styled.tsx
Labels: feature

#222 216 option details page
  packages/api/src/fetchOption.ts
  packages/api/src/fetchUserVotes.ts
  packages/api/src/index.ts
  packages/api/src/postComment.ts
  packages/api/src/types/CommentType.ts
  packages/api/src/types/QuestionOptionType.ts
  packages/berlin/public/icons/comments-dark.svg
  packages/berlin/public/icons/comments-light.svg
  packages/berlin/src/App.tsx
  packages/berlin/src/components/commentCard/CommentCard.styled.tsx
  packages/berlin/src/components/commentCard/CommentCard.tsx
  packages/berlin/src/components/commentCard/index.ts
  packages/berlin/src/components/containers/Form.styled.tsx
  packages/berlin/src/components/optionCard/OptionCard.tsx
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/pages/Option.tsx
  packages/berlin/src/store/index.ts
  packages/berlin/src/utils/voting.ts
Labels: feature, berlin

#264 add userIsAcceptedToEvent loader
  packages/berlin/src/App.tsx
Labels: feature

#265 Refactor initialUser object creation in Account component
  packages/berlin/src/pages/Account.tsx
Labels: bug

#267 Update safe area from 720px to 1080px
  packages/berlin/src/layout/Layout.styled.tsx
Labels: feature, berlin
