Repository lexicongovernance/pluraltools-frontend, pull requests merged in 2024-04, with the labels that each got.

#353 fix logo image breaking on popup
  packages/berlin/src/App.tsx
Labels: bug

#354 fix popup breaking image cache
  packages/berlin/src/App.tsx
Labels: bug

#351 350 make dogs image smaller
  packages/berlin/src/components/containers/FlexRowToColumn.styled.tsx
  packages/berlin/src/pages/Holding.tsx
Labels: priority, easy, berlin

#356 355 update footer text and logos
  packages/berlin/public/logos/arbitrum-light.svg
  packages/berlin/public/logos/desci-dark.svg
  packages/berlin/public/logos/desci-light.svg
  packages/berlin/public/logos/lexicon-dark.png
  packages/berlin/public/logos/lexicon-dark.svg
  packages/berlin/public/logos/lexicon-light.png
  packages/berlin/public/logos/lexicon-light.svg
  packages/berlin/public/logos/metagov-dark.svg
  packages/berlin/public/logos/metagov-light.svg
  packages/berlin/public/logos/radicalxchange-dark.svg
  packages/berlin/public/logos/radicalxchange-light.svg
  packages/berlin/src/components/footer/Footer.tsx
  packages/berlin/src/data/footer.ts
Labels: feature, berlin

#364 363 change registration safe area to 720px
  packages/berlin/src/pages/Account.tsx
  packages/berlin/src/pages/Register.tsx
Labels: berlin

#366 Center image
  packages/berlin/src/pages/Holding.tsx
Labels: berlin

#370 Fix comment and vote handling in API
  packages/api/package.json
  packages/api/src/deleteComment.ts
  packages/api/src/postComment.ts
  packages/api/src/postVotes.ts
  packages/api/src/types/CommentType.ts
  packages/api/src/types/UserVotesType.ts
  packages/berlin/src/components/commentCard/CommentCard.tsx
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/pages/Option.tsx
  packages/berlin/src/utils/voting.ts
  packages/core/src/pages/Vote.tsx
Labels: bug

#369 368 replace title with subtitle at onboarding and registration page
  packages/berlin/src/pages/Onboarding.tsx
  packages/berlin/src/pages/Register.tsx
Labels: berlin

#380 Supprt markdown for description
  package.json
  packages/api/src/types/EventType.ts
  packages/berlin/src/components/eventCard/EventCard.tsx
  pnpm-lock.yaml
Labels: feature

#384 Create initial ui package files
  .eslintrc.cjs
  packages/berlin/src/components/back-button/BackButton.tsx
  packages/berlin/src/components/back-button/index.ts
  packages/berlin/src/components/comment-card/CommentCard.styled.tsx
  packages/berlin/src/components/comment-card/CommentCard.tsx
  packages/berlin/src/components/comment-card/index.ts
  packages/berlin/src/components/cycle-card/CycleCard.styled.tsx
  packages/berlin/src/components/cycle-card/CycleCard.tsx
  packages/berlin/src/components/cycle-card/index.ts
  packages/berlin/src/components/cycle-columns/CycleColumns.styled.tsx
  packages/berlin/src/components/cycle-columns/CycleColumns.tsx
  packages/berlin/src/components/cycle-columns/index.ts
  packages/berlin/src/components/event-card/EventCard.styled.tsx
  packages/berlin/src/components/event-card/EventCard.tsx
  packages/berlin/src/components/event-card/index.ts
  packages/berlin/src/components/header/Header.tsx
  packages/berlin/src/components/icon-button/IconButton.styled.tsx
  packages/berlin/src/components/icon-button/IconButton.tsx
  packages/berlin/src/components/icon-button/index.ts
  packages/berlin/src/components/nav-button/NavButton.styled.tsx
  packages/berlin/src/components/nav-button/NavButton.tsx
  packages/berlin/src/components/nav-button/index.ts
  packages/berlin/src/components/option-card/OptionCard.styled.tsx
  packages/berlin/src/components/option-card/OptionCard.tsx
  packages/berlin/src/components/option-card/index.ts
  packages/berlin/src/components/result-card/ResultCard.styled.tsx
  packages/berlin/src/components/result-card/ResultCard.tsx
  packages/berlin/src/components/result-card/index.ts
  packages/berlin/src/components/stat-card/StatCard.styled.tsx
  packages/berlin/src/components/stat-card/StatCard.tsx
  packages/berlin/src/components/stat-card/index.ts
  packages/berlin/src/components/voting-cards/VotingCards.tsx
  packages/berlin/src/components/voting-cards/index.ts
  packages/berlin/src/components/zupass-button/ZupassLoginButton.tsx
  packages/berlin/src/components/zupass-button/index.ts
  packages/berlin/src/pages/Account.tsx
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/pages/Event.tsx
  packages/berlin/src/pages/Events.tsx
  packages/berlin/src/pages/Landing.tsx
  packages/berlin/src/pages/Option.tsx
  packages/berlin/src/pages/Results.tsx
  packages/ui/README.md
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/index.css
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Labels: berlin

#383 382 formatting fixes
  package.json
  packages/api/package.json
  packages/berlin/package.json
  packages/berlin/src/components/input/Input.tsx
  packages/berlin/src/components/typography/CharacterCount.styled.tsx
  packages/berlin/src/hooks/useCountdown.tsx
  packages/berlin/src/pages/Holding.tsx
  packages/core/package.json
  packages/core/src/components/select/Select.tsx
  packages/core/src/components/zupassLoginButton/ZupassLoginButton.tsx
  packages/core/src/hooks/useCountdown.tsx
  packages/core/src/main.tsx
  packages/core/src/pages/Register.tsx
  packages/core/vercel.json
  packages/ui/src/components/ui/button.tsx
Labels: feature, easy

#390 389 event multiple registrations
  packages/api/src/fetchRegistration.ts
  packages/api/src/fetchRegistrationData.ts
  packages/api/src/fetchRegistrations.ts
  packages/api/src/index.ts
  packages/api/src/postRegistration.ts
  packages/api/src/postRegistrationData.ts
  packages/api/src/putRegistration.ts
  packages/api/src/types/GroupType.ts
  packages/api/src/types/RegistrationDataType.ts
  packages/api/src/types/RegistrationType.ts
  packages/berlin/src/App.tsx
  packages/berlin/src/pages/Register.tsx
  packages/berlin/src/types/RegistrationDataType.ts
  packages/core/src/pages/Event.tsx
  packages/core/src/pages/Register.tsx
Labels: feature, berlin

#396 Add alerts
  packages/api/src/fetchAlerts.ts
  packages/api/src/index.ts
  packages/api/src/types/AlertType.ts
  packages/berlin/src/components/header/Header.tsx
  packages/berlin/src/pages/Cycle.tsx
  packages/berlin/src/pages/Option.tsx
  packages/berlin/src/store/index.ts
  packages/berlin/src/utils/voting.ts
  packages/core/src/components/option/Option.tsx
  packages/core/src/pages/Vote.tsx
Labels: feature

#413 Diego/fix always sending empty value
  packages/berlin/src/pages/Register.tsx
Labels: bug

#418 add create registration key in select
  packages/berlin/src/pages/Register.tsx
Labels: feature

#430 400 navbar link underline
  packages/api/src/index.ts
  packages/berlin/src/components/header/Header.tsx
  packages/berlin/src/components/nav-button/NavButton.tsx
Labels: berlin

#427 403 Disable downvote if numOfVotes is zero
  packages/berlin/src/components/option-card/OptionCard.tsx
Labels: berlin

#428 405 polling comments in option page
  packages/berlin/src/components/button/Button.styled.tsx
  packages/berlin/src/pages/Option.tsx
Labels: berlin

#429 406 comments order is created at asc order
  packages/berlin/public/icons/filter-dark.svg
  packages/berlin/public/icons/filter-light.svg
  packages/berlin/public/icons/sort-dark.svg
  packages/berlin/public/icons/sort-light.svg
  packages/berlin/src/components/button/Button.styled.tsx
  packages/berlin/src/pages/Option.tsx
Labels: berlin
